* {
  margin: 0;
  padding: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}
.container {
  display: block;
  width: 600px;
  max-width: 100%;

  height: 400px;
  max-height: 100%;

  position: fixed;

  z-index: 100;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #8ec9f0;
  border-radius: 5px;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.foodName {
  flex-grow: 1;
  color: #026bb2;
}
.foodInfo {
  display: flex;
  gap: 10px;
  margin-right: 0;
}
.nutrsion {
  color: white;
}

/* Form */

.measure {
  margin-top: 25px;
  /* text-align: center; */
  color: #035388;
}
.how {
  text-align: center;
}
.amountflex {
  justify-content: center;
  margin-top: 10px;
  display: flex;
}
.serving {
  /* text-align: center; */
  width: 30px;
  height: 27px;
  border-radius: 5px;
  border: solid #026bb2;
}
.text {
  color: white;
  /* text-align: end; */
  padding-left: 5px;
  padding-top: 6px;
  padding-right: 5px;
  font-size: medium;
  font-weight: bold;
}
.unit {
  border-radius: 5px;
  border: solid #026bb2;
}
.button {
}
