* {
  margin: 0;
  padding: 0;
}
.base {
  border: 2px #37a3eb solid;
  text-align: center;
  /* background-color: antiquewhite; */
  background-color: #8ec9f0;

  height: 50px;
  width: 70%;
  border-radius: 50px;
}

.input {
  color: white;
  font-size: medium;
  margin-left: 5%;
  background-color: #8ec9f0;
  border-radius: 50px;
  height: 50px;
  width: 80%;
  border: 0;
}
.input:focus-visible {
  outline: 0ch;
}
.button {
  height: 50px;
  width: 15%;
  border-radius: 50px;
  border: 0;
  color: white;
  background-color: #8ec9f0;
}
.button:hover {
  color: #8ec9f0;
  background-color: white;
}
.search {
  font-weight: bold;
  font-size: large;
}
